$defaultMargin: 5px 5px;
$defaultPadding: 5px 5px;

@mixin default-box( $color, $border ) {
  border: $border solid $color;
  clear: both;
  display: block;
  margin: $defaultMargin;
  padding: $defaultPadding;
}

@mixin inside-box( $color, $border ) {
  border: $border solid $color;
  margin: $defaultMargin;
  padding: $defaultPadding;
}

@mixin section-box( $float, $width ) {
  @include inside-box(green,2px);
  float: $float;
  width: $width;
}

@mixin paragraph-aside-box ( $float, $width ) {
  @include inside-box( darken(blue,20%),1px );
  float: $float;
  width: $width;
  padding: 12% 0;
}

div {
  text-align: center;
  background-color: azure;
  header, footer {
    @include default-box(blue, 2px);
  }
  nav {
    border: 1px solid darkcyan;
    margin-top: 10px;
  }
  #leftSection {
    @include section-box(left,28%);
    nav {
      border: 1px solid darkcyan;
      margin: 5px;
      padding: 70% 5%;
    }
  }
  #rightSection {
    @include section-box( right,68% );
    height: 60%;
    header {
      margin-top: 10px;
    }
    #firstArticle {
      @include inside-box( darken( green,10% ),2px );
      p {
        @include inside-box( darken(blue,30%), 1px );
      }

    }
    #secondArticle {
      @include inside-box( lighten( green,10% ), 2px );
      #paragraphSecondArticle {
        @include paragraph-aside-box( left, 64%);
              }
      #asideSecondArticle {
        @include paragraph-aside-box( right, 33%);
      }
    }
  }
}